@font-face {
  font-family: "Maza";
  src: url("./fonts/Maza_Regular.otf");
  font-weight: 400;
}

:root {
  --color_primary: #4888FF;
  --color_secondary: #F4F4F4;
  --font-size_primary: 20px;
  --font-size_secondary: 16px;
  --border-radius_more: 8px;
  --border-radius_less: 4px;
}

* {
  padding: 0;
  margin: 0;

  font-family: "Maza";
}

input:focus,
button:focus {
    outline: none;
}


.header {
  display: flex;
  justify-content: space-between;

  padding: 8px 40px;
  
  font-size: var(--font-size_secondary);

  background-color: var(--color_secondary);
}

.header__ul {
  list-style: none;
}

.header__li {
  display: inline;
  margin-left: 16px;
}

.header__a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: flex;
  justify-content: center;

  font-size: var(--font-size_primary);

  margin: 16px 40px;
}

.main {
  display: flex;
}

.main__link {
  border-radius: var(--border-radius_less);

  background-color: var(--color_secondary);
}

.button-open-menu {
  width: 101px;
  height: 48px;
  border: none;
  border-radius: var(--border-radius_more);

  background-color: var(--color_primary);

}

.search-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 654px;
  border: solid rgb(72, 136, 255, .2) 1px;
  border-radius: var(--border-radius_more);
  padding: 4px;
}

.search-line__input {
  width: 60%;
  margin-left: 24px;
  border: none;

  font-size: var(--font-size_secondary);  
}

.button-search {
  width: 78px;
  height: 40px;
  border: none;
  border-radius: var(--border-radius_less);

  font-size: 14px;

  background-color: var(--color_primary);
  color: white;
}


.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.links__item {
  border: solid #D3D3D3 2px;
  border-radius: var(--border-radius_less);
}


.links__item-lower {
  grid-column: 1 / span 3;

  border-radius: var(--border-radius_more);

  background-color: var(--color_secondary);
}

.links__item-lower a {
  display: inline-block;
  width: 100%;
  height: 100%;

  text-decoration: none;
  color: var(--color_primary);  
}

.menu li {
  display: inline;

  margin-left: 19px;
  border-radius: var(--border-radius_more);

  background-color: var(--color_secondary);
}

.menu li a {
  text-decoration: none;
  color: inherit;
}

/* Common */

.link-wrap {
  width: 48px;
  height: 48px;
}

.square-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}